body {
  background-color: #04E4ED;
  color:#fff;

}

nav .container,
header .container,
section .container {
  min-height: 100px;
  position: relative;
}


.soc-icons {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
}

.soc-icons i {
  margin: 10px;
}
#mac{
  background: #ffffff url(img/mac.png) no-repeat;
  position:relative;
  background-size:contain;
}
#two-users .card {
  padding: 10px;
  margin: 20px;
}

p {
  width: 200px
}

.two-users {

  left: 50%;
  margin-left: -100px;
  min-height: 100px;
  text-align: center;
  background-color: #f2f7f2;
}

.img-egg{
      width: 700px;
    margin: 0 auto;
    display: block;
}
.img-mac{
   width: 50%;
    margin: 0 auto;
    display: block;
}
#two-users img{
  width: 100%;
}
